*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
keystore.properties
periscopespace.keystore
fastlane
app/release
app/fabric.properties

